<div class="row">
  
<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a ui-sref="home" class="navbar-brand">
        <span class="glyphicon glyphicon-home"></span>
        QSTest
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li>
          <a ui-sref="config">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            Настройки
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>

</div>