<div class="container">
    <h1 class="text-center login-title">
        {{ lc.caption }} 
    </h1>
    <div class="account-wall">
        <img class="profile-img" src={{lc.img}} alt={{lc.btnCaption}}>
        <div class ="form-signin">       
            <input
                ng-model   ="lc.user.name"
                type       ="text" 
                class      ="form-control"
                placeholder="{{lc.placeholder}}"
                required
                autofocus
            >

            <input
                ng-model   ="lc.user.password"
                type       ="password"
                class      ="form-control"
                placeholder="Password"
                required
            >

            <!-- <input 
                ng-if      ="lc.isNew"
                ng-model   ="user.password2"
                type       ="password"
                class      ="form-control"
                placeholder="Confirm password"
                required> -->
            
            <button
                ng-click="lc.action()"
                class   ="btn btn-lg btn-primary btn-block">
                {{ lc.btnCaption }}
            </button>

            <br>
            <a href="#/register" ng-if="!lc.isNew"> Register now in just few seconds... </a>
        </div>
     
    </div>

   <!--  <div class="uapp-message bg-danger">
        <h3>MongoDB is not running!</h3> 
    </div> -->
<div class="row" ng-if="false">
    <div class="panel panel-warning col-md-6 col-md-offset-3">
        <div class="panel-heading">DB Error:</div>
        <div class="panel-body">MongoDB is not running!</div>
    </div>
 </div>

</div>