<div class="container">
    <h2>{{ isNew() ? "Add new user" : "Update user info" }}</h2>

    <hr>

    <div class="form-inline">
        <label>Name:</label>
        <input type="text" ng-model="sc.user.name" class="form-control">

        <label>Age:</label>
        <input type="text" ng-model="sc.user.age" class="form-control">

        <label>ID:</label> 
        <input type="text" ng-model="sc.user._id" class="form-control" disabled>      
    </div>
    <br>

    <button
        ng-click="sc.addUpdate()"
        class="btn btn-success">
        <span 
            class="glyphicon glyphicon-plus"
            aria-hidden="true">
        </span>
        {{ isNew() ? "Create" : "Update" }}
    </button>

    <button
        ng-click="sc.user = {}"
        ng-disabled="!isNew()"
        class="btn btn-primary">
        <span 
            class="glyphicon glyphicon glyphicon-erase"
            aria-hidden="true">
        </span>
        Clear
    </button>

    <button
        ng-click="sc.toList()"
        class="btn btn-danger">
        <span 
            class="glyphicon glyphicon-remove-circle"
            aria-hidden="true">
        </span>
        Cancel
    </button>

</div>